/* static/styles.css */

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Poppins', sans-serif;
  background-color: #e0e0e0;
  color: #333;
  transition: background-color 0.3s, color 0.3s;
}

h1 {
  font-size: 32px;
  font-weight: bold;
  margin-bottom: 20px;
}

p, span {
  font-size: 18px;
}

body.dark-mode {
  background-color: #333;
  color: #fff;
}

.app-container {
  width: 100%;
  min-height: 100vh;
  background-color: #F5F5F5;
  transition: background-color 0.3s;
}

@media (min-width: 1024px) {
  .app-container {
    width: 80%;
    margin: 0 auto;
  }
}

body.dark-mode .app-container {
  background-color: #444;
}

.container {
  padding: 24px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 24px;
}

.header h1 {
  font-size: 28px;
  font-weight: bold;
  margin: 0;
}

.nav-buttons {
  display: flex;
  gap: 15px;
}

.icon-button {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 24px;
  color: #333;
  transition: color 0.3s ease-in-out;
}

body.dark-mode .icon-button {
  color: white;
}

.theme-toggle {
  display: flex;
  align-items: center;
  gap: 10px;
}

.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 24px;
}

.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  border-radius: 24px;
  transition: 0.4s;
  cursor: pointer;
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 2px;
  background-color: #fff;
  border-radius: 50%;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #007bff;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

.content {
  margin-top: 40px;
  width: 80%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.Translate {
  font-size: 30px;
  font-weight: bold;
  margin-bottom: 10px;
  text-align: center;
}

#options {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: flex-start;
  gap: 20px;
  margin-top: 20px;
  flex-wrap: wrap;
}

#options-left, #options-right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 10px;
}

#options-left p, #options-right p {
  font-size: 22px;
  font-weight: bold;
}

@media (max-width: 600px) {
  #options {
    flex-direction: column;
  }
}

.selected {
  background: #007bff!important;
  color: white !important;
  border-color: #007bff !important;
}

body.dark-mode .selected {
  background: #007bff !important;
  color: white !important;
  border-color: #007bff !important;
}

.dropdown-select {
  width: 100%;
  padding: 10px;
  border: 2px solid #333;
  border-radius: 8px;
  font-size: 18px;
  background-color: white;
  color: black;
  margin-top: 10px;
  cursor: pointer;
  transition: all 0.3s ease;
}

.dropdown-select:focus {
  outline: none;
  border-color: #007bff;
}

body.dark-mode .dropdown-select {
  background-color: #444;
  color: white;
  border-color: white;
}

#InputTextContainer, #OutputTextContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #fff;
  border-radius: 20px;
  padding: 10px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
  margin: 10px;
}

.heading {
  text-align: left;
  padding-top: 5px;
  padding-left: 5px;
  font-size: 0.8rem;
  font-weight: 600;
  color: #cdccd1;
  white-space: nowrap;
}

.text-input {
  padding-left: 60px;
  width: 100%;
  min-height: 100px;
  max-width: 800px;
  padding: 10px;
  border: none;
  outline: none;
  resize: none;
  font-size: 18px;
  background-color: transparent;
}

#TranslateClear {
  display: flex;
  justify-content: center;
  align-items: center;
}

.translate-button {
  background-color: #007bff;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 12px;
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.translate-button:hover {
  background-color: rgb(5, 48, 133);
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
}

.clear-button {
  background-color: #dc3545;
  color: white;
  font-size: 18px;
  font-weight: bold;
  margin: 12px;
  padding: 12px 30px;
  border-radius: 50px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
}

.clear-button:hover {
  background-color: #a71d2a;
  box-shadow: 3px 6px 12px rgba(0, 0, 0, 0.3);
}

#commonPhrasesContainer {
  margin-top: 20px;
  padding: 20px;
  background-color: #f5f5f5;
  border-radius: 15px;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.1);
  width: 100%;
  max-width: 600px;
}

h3 {
  margin-bottom: 15px;
  font-size: 20px;
  font-weight: bold;
  color: #333;
}

.phrase-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.phrase-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 10px;
  background-color: white;
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgba(0, 0, 0, 0.1);
}

.phrase-item p {
  font-size: 16px;
  margin: 0;
  color: black;
}

.phrase-translate-button {
  background-color: #007bff;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.phrase-translate-button:hover {
  background-color: rgb(5, 48, 133);
}

.input-with-audio {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  padding: 10px;
  background-color: #fff;
  border-radius: 20px;
  box-shadow: 2px 4px 5px rgba(0, 0, 0, 0.2);
}

.record-button {
  position: absolute;
  left: -20px;
  top: -20px;
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-shadow: 2px 4px 10px rgba(0, 0, 0, 0.2);
  transition: background-color 0.3s;
}

.record-button:hover {
  background-color: rgb(5, 48, 133);
}

.add-phrase-button {
  background-color: #007bff;
  color: white;
  font-size: 16px;
  font-weight: bold;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  margin-top: 10px;
}

.add-phrase-button:hover {
  background-color: rgb(5, 48, 133);
}

.phrase-delete-button {
  background-color: #dc3545;
  color: white;
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 10px;
  padding: 8px 12px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.delete-phrase-button:hover {
  background-color: #a71d2a;
}

.play-tts-button {
  background-color: #007bff;
  border-radius: 20px;
  color: white;
  border: none;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;  /* ✅ Ensure it has pointer cursor */
  opacity: 1;  /* ✅ Make sure it's visible */
}

.play-tts-button:disabled {
  background-color: #ccc;
  cursor: not-allowed;  /* ❌ Make disabled buttons visually different */
  opacity: 0.5;
}
